@{
    ViewBag.Title = "ControleInvestimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>Relatório de Controle de Investimentos</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="home.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Relatório de Controle de Investimentos</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
    </div>
</header>

<!-- start: page -->

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <!-- <a href="#modalAnim" class="panel-action fa fa-plus modal-with-zoom-anim" ></a> -->
                    <!-- <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a> -->
                </div>

                <h2 class="panel-title">Relatório de Controle de Investimentos</h2>
            </header>
            <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cep">Data inicial</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" name="datainicial" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control valid">
                            </div>
                        </div>

                        <label class="col-sm-2 col-sm-offset-1 control-label" for="cep">Data final</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" name="datafinal" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control valid">
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="endereco">Ano do Cliente</label>
                        <div class="col-sm-3">
                            <input type="text" name="anocliente" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input value="Excel" type="submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<!-- end: page -->
