@{
    ViewBag.Title = "CriacaoRC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>Relatório de Criação de RC</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="home.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Relatório de Criação de RC</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
    </div>
</header>

<!-- start: page -->

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <!-- <a href="#modalAnim" class="panel-action fa fa-plus modal-with-zoom-anim" ></a> -->
                    <!-- <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a> -->
                </div>

                <h2 class="panel-title">Relatório de Criação de RC</h2>
            </header>
            <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cep">Data inicial</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control valid">
                            </div>
                        </div>

                        <label class="col-sm-2 col-sm-offset-1 control-label" for="cep">Data final</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" class="form-control valid">
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="endereco">Ano do Cliente</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" name="endereco" id="endereco">
                        </div>
                        <label class="col-sm-2 col-sm-offset-1 control-label">Unidade</label>
                        <div class="col-sm-4">
                            <select name="" class="form-control">
                                <option value="">Escolha uma opção...</option>
                                <option value="">Unidade 01</option>
                                <option value="">Unidade 02</option>
                                <option value="">Unidade 03</option>
                                <option value="">Unidade 04</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="endereco">Franquia</label>
                        <div class="col-sm-4">
                            <select name="" class="form-control">
                                <option value="">Escolha uma opção...</option>
                                <option value="">Franquia 01</option>
                                <option value="">Franquia 02</option>
                                <option value="">Franquia 03</option>
                                <option value="">Franquia 04</option>
                            </select>

                        </div>
                        <label class="col-sm-2 control-label">Fornecedor</label>
                        <div class="col-sm-4">
                            <select name="" class="form-control">
                                <option value="">Escolha uma opção...</option>
                                <option value="">Fornecedor 01</option>
                                <option value="">Fornecedor 02</option>
                                <option value="">Fornecedor 03</option>
                                <option value="">Fornecedor 04</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">Tipo</label>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" id="" value="option1" name="atendimento1"> Padrão
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="" value="option1" name="atendimento1"> Macro
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="" value="option1" name="atendimento1"> Resumido
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-2">
                            <label class="radio">
                                <input type="checkbox" id="" value="option1" name="atendimento1"> Busca somente PDVs recusados comRC
                            </label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-footer">
                <input value="Excel" type="submit" class="btn btn-success" />
            </div>
        </section>
    </div>
</div>

<!-- end: page -->
