
@{
    ViewBag.Title = "testecontrapartida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>testecontrapartida</h2>


<div class="form-group">
    <label for="" class="col-md-3 control-label">Código Cliente</label>
    <div class="col-md-7">
        <input type="text" class="form-control">
    </div>
</div>


dev.femsa.mc1.com.br/Mobile/listaContrapartidasClienteMobile?id_cliente=106